In [1]:
from data_download import descargar_y_guardar_json
from generar_json import generar_pais_ciudad
from pyspark.sql import SparkSession
from pyspark.sql.functions import lit, to_date, col, monotonically_increasing_id, explode, array, rand, floor, date_add
from pyspark.sql.types import IntegerType, LongType, DoubleType
import pandas as pd
import random

In [2]:
# Configurar la sesión de Spark
spark = SparkSession.builder \
    .appName("Transformación de datos COVID 2") \
    .getOrCreate()

In [3]:
def expand_df(df_entrada):
    df_with_id = df_entrada.withColumn("temp_id", monotonically_increasing_id())
    ids = array([(lit(i)) for i in range(1, 7)])
    tabla_duplicada = df_with_id.withColumn("id", explode(ids))
    
    columnas = ["id"] + [c for c in df_with_id.columns if c != "temp_id"]
    tabla_duplicada = tabla_duplicada.select(columnas)

    # Multiplicar columnas numéricas por un factor aleatorio entre 1 y 2.1, y redondear sin decimales
    for col_name in df_entrada.columns:
        # Verificar si el tipo de la columna es numérico y no es la columna 'date'
        if isinstance(df_entrada.schema[col_name].dataType, (DoubleType, IntegerType, LongType)) and col_name != "date":
            # Multiplicar, redondear hacia abajo y convertir a entero
            tabla_duplicada = tabla_duplicada.withColumn(col_name, floor(col(col_name) * (1 + rand() * 1.1)))
        
    # Transformar columna de date a Fecha de regalo
    tabla_duplicada = tabla_duplicada.withColumn('date', to_date(col('date').cast("string"), 'yyyyMMdd'))

    return tabla_duplicada

    Generar json

In [4]:
fecha = 20200506
url = f"https://api.covidtracking.com/v1/us/{fecha}.json"
ruta_archivo = "./downloads/datos_covid.json"
descargar_y_guardar_json(url, ruta_archivo)

Datos guardados exitosamente en ./downloads/datos_covid.json

    Leer el archivo JSON como DataFrame Spark

In [5]:
json_entrada = spark.read.json('./downloads/datos_covid.json')

In [6]:
json_entrada.show()

+--------+--------------------+-----+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
|    date|         dateChecked|death|deathIncrease|                hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|        lastModified|negative|negativeIncrease|onVentilatorCumulative|onVentilatorCurrently|pending|posNeg|positive|positiveIncrease|recovered|states|total|totalTestResults|totalTestResultsIncrease|
+--------+--------------------+-----+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
|20200506|2020-05-06T24:00:00Z|69636|         1931|9bb52e41a6d7dce6b...|       60513|                 60513|                52607|                1505|           4911|         13196|2020-05-06T24:00:00Z| 2876361|           98543|                   449|                 4758|   3008|     0| 1230844|           25312|     null|    56|    0|         8293548|                  293617|
+--------+--------------------+-----+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+

    Multiplicar las columnas asignando un 'id'

In [7]:
json_mult = expand_df(json_entrada)

In [8]:
json_mult.show()

+---+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
| id|      date|         dateChecked| death|deathIncrease|                hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|        lastModified|negative|negativeIncrease|onVentilatorCumulative|onVentilatorCurrently|pending|posNeg|positive|positiveIncrease|recovered|states|total|totalTestResults|totalTestResultsIncrease|
+---+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
|  1|2020-05-06|2020-05-06T24:00:00Z|100544|         3896|9bb52e41a6d7dce6b...|       83628|                 87112|                59203|                2229|           5855|         23349|2020-05-06T24:00:00Z| 5517163|          199604|                   855|                 8502|   4251|     0| 2025929|           33894|     null|   116|    0|        12145819|                  472138|
|  2|2020-05-06|2020-05-06T24:00:00Z| 93396|         3225|9bb52e41a6d7dce6b...|      114818|                104167|                93005|                1938|           6773|         23675|2020-05-06T24:00:00Z| 3627039|          107331|                   865|                 8996|   4314|     0| 2249563|           31780|     null|    90|    0|        15543066|                  593467|
|  3|2020-05-06|2020-05-06T24:00:00Z| 91671|         2483|9bb52e41a6d7dce6b...|      116206|                113248|                90811|                1507|           7799|         19851|2020-05-06T24:00:00Z| 5632642|          126010|                   866|                 8777|   4353|     0| 1963036|           29871|     null|    80|    0|        14460912|                  528023|
|  4|2020-05-06|2020-05-06T24:00:00Z| 74074|         2701|9bb52e41a6d7dce6b...|       60515|                 76339|               102384|                2480|           6207|         21153|2020-05-06T24:00:00Z| 3113823|          150556|                   630|                 9938|   5983|     0| 2059622|           46993|     null|    83|    0|         8899345|                  331874|
|  5|2020-05-06|2020-05-06T24:00:00Z|128222|         2839|9bb52e41a6d7dce6b...|       70430|                 96021|                96107|                2091|           7763|         21839|2020-05-06T24:00:00Z| 5772681|          198130|                   731|                 7579|   5367|     0| 1739751|           48677|     null|    79|    0|         9380606|                  328987|
|  6|2020-05-06|2020-05-06T24:00:00Z|117226|         3839|9bb52e41a6d7dce6b...|      112769|                126212|                82207|                1900|           6468|         15235|2020-05-06T24:00:00Z| 5020357|          206694|                   626|                 8298|   4999|     0| 2124147|           50210|     null|   107|    0|        17311779|                  432658|
+---+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+

    Generar e Importar ciudades y paises

In [9]:
generar_pais_ciudad()

Datos de ciudades y países guardados exitosamente en la carpeta 'g_datos'

In [10]:
# Cargar el archivo JSON utilizando Pandas
pandas_ciudades = pd.read_json("./d_generados/ciudades.json")
pandas_paises = pd.read_json("./d_generados/paises.json")

# Convertir el DataFrame de Pandas a un DataFrame de Spark
spark_ciudades = spark.createDataFrame(pandas_ciudades)
spark_paises= spark.createDataFrame(pandas_paises)

# Juntar los dos DataFrames por la columna 'ID'
paises_ciudades_tabla = spark_paises.join(spark_ciudades, spark_paises['id'] == spark_ciudades['id']).select(
    spark_paises.id,
    spark_paises.id_pais,
    spark_ciudades.id_ciudad,
    spark_paises.Pais,
    spark_ciudades.Ciudad,
    spark_ciudades.Coordenadas
)

FileNotFoundError: File ./d_generados/ciudades.json does not exist

In [ ]:
paises_ciudades_tabla.show()

+---+-------+---------+-----------+---------+------------------+
| id|id_pais|id_ciudad|       Pais|   Ciudad|       Coordenadas|
+---+-------+---------+-----------+---------+------------------+
|  1|    201|      101|     España|   Madrid|[40.4168, -3.7038]|
|  2|    202|      102|    Francia|Barcelona| [41.3851, 2.1734]|
|  3|    203|      103|   Alemania| Valencia|[39.4699, -0.3763]|
|  4|    204|      104|     Italia|    Paris| [48.8566, 2.3522]|
|  5|    205|      105|Reino Unido|   Berlin|   [52.52, 13.405]|
|  6|    206|      106|   Portugal|     Roma|[41.9028, 12.4964]|
+---+-------+---------+-----------+---------+------------------+

    Unir por id json entrada y paises.

In [ ]:
tabla_casi_final = paises_ciudades_tabla.join(json_mult, on="id", how="right")
tabla_casi_final = tabla_casi_final.orderBy(spark_paises.id.asc())

In [ ]:
tabla_casi_final.show()

+---+-------+---------+-----------+---------+------------------+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
| id|id_pais|id_ciudad|       Pais|   Ciudad|       Coordenadas|      date|         dateChecked| death|deathIncrease|                hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|        lastModified|negative|negativeIncrease|onVentilatorCumulative|onVentilatorCurrently|pending|posNeg|positive|positiveIncrease|recovered|states|total|totalTestResults|totalTestResultsIncrease|
+---+-------+---------+-----------+---------+------------------+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
|  1|    201|      101|     España|   Madrid|[40.4168, -3.7038]|2020-05-06|2020-05-06T24:00:00Z|120184|         3631|9bb52e41a6d7dce6b...|      111249|                 68311|                93116|                1948|           9823|         21515|2020-05-06T24:00:00Z| 5080645|          151540|                   661|                 6839|   6128|     0| 1379371|           37798|     null|    56|    0|         9961278|                  453968|
|  2|    202|      102|    Francia|Barcelona| [41.3851, 2.1734]|2020-05-06|2020-05-06T24:00:00Z| 90189|         2280|9bb52e41a6d7dce6b...|       96529|                117577|                61112|                2918|           7180|         24116|2020-05-06T24:00:00Z| 4825442|          192553|                   683|                 5674|   5459|     0| 1760957|           33809|     null|    58|    0|        15056671|                  609643|
|  3|    203|      103|   Alemania| Valencia|[39.4699, -0.3763]|2020-05-06|2020-05-06T24:00:00Z|117136|         2324|9bb52e41a6d7dce6b...|       96106|                 86323|                93673|                1967|           6556|         17102|2020-05-06T24:00:00Z| 3838696|          187932|                   880|                 9276|   6237|     0| 2174932|           34048|     null|    80|    0|        16239797|                  524831|
|  4|    204|      104|     Italia|    Paris| [48.8566, 2.3522]|2020-05-06|2020-05-06T24:00:00Z|109364|         3440|9bb52e41a6d7dce6b...|      123910|                124330|                67468|                1881|           6290|         24432|2020-05-06T24:00:00Z| 5230596|          144657|                   454|                 6381|   5141|     0| 2265725|           52831|     null|    79|    0|        16588641|                  415467|
|  5|    205|      105|Reino Unido|   Berlin|   [52.52, 13.405]|2020-05-06|2020-05-06T24:00:00Z| 78455|         3625|9bb52e41a6d7dce6b...|       65257|                 70336|                66852|                2457|           9996|         23103|2020-05-06T24:00:00Z| 5259219|          115655|                   885|                 6352|   4660|     0| 1654169|           29488|     null|   115|    0|        15091029|                  558744|
|  6|    206|      106|   Portugal|     Roma|[41.9028, 12.4964]|2020-05-06|2020-05-06T24:00:00Z| 85021|         2804|9bb52e41a6d7dce6b...|      104130|                102951|                86907|                2058|           8288|         21080|2020-05-06T24:00:00Z| 4417875|          193408|                   552|                 5858|   4837|     0| 2283421|           37092|     null|    65|    0|        15781585|                  411716|
+---+-------+---------+-----------+---------+------------------+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+

In [ ]:
def expand_and_transform_json(df_entrada, num_copies):
    # Crear un DataFrame con múltiplos y cambiar el tipo de 'copy_id'
    multiplier_df = spark.range(num_copies).withColumn("multiplier", lit(1) + col("id") * lit(0.1))
    multiplier_df = multiplier_df.withColumn("copy_id", col("id").cast("integer")).drop("id")
    
    # Realizar un cross join con el DataFrame original
    expanded_df = df_entrada.crossJoin(multiplier_df)

    # Aplicar transformaciones a columnas numéricas y convertir a entero
    for column in df_entrada.columns:
        if column not in ['date', 'id', 'id_pais', 'id_ciudad'] and isinstance(df_entrada.schema[column].dataType, (DoubleType, IntegerType, LongType)):
            random_factor = random.uniform(1, 1.5)
            expanded_df = expanded_df.withColumn(column, (col(column) * col("multiplier") * random_factor).cast("integer"))
    
    # Ajustar la fecha según el número de copias
    if 'date' in df_entrada.columns:
        expanded_df = expanded_df.withColumn('date', date_add(col('date'), col('copy_id')))

    expanded_df = expanded_df.drop('multiplier', 'copy_id', 'id')

    return expanded_df

In [ ]:
# Se generan datos para 120 dias, lo que equivaldria a 4 meses
tabla_final = expand_and_transform_json(tabla_casi_final, 120)

In [ ]:
tabla_final.show()

+-------+---------+-----------+--------+------------------+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
|id_pais|id_ciudad|       Pais|  Ciudad|       Coordenadas|      date|         dateChecked| death|deathIncrease|                hash|hospitalized|hospitalizedCumulative|hospitalizedCurrently|hospitalizedIncrease|inIcuCumulative|inIcuCurrently|        lastModified|negative|negativeIncrease|onVentilatorCumulative|onVentilatorCurrently|pending|posNeg|positive|positiveIncrease|recovered|states|total|totalTestResults|totalTestResultsIncrease|
+-------+---------+-----------+--------+------------------+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
|    206|      106|   Portugal|    Roma|[41.9028, 12.4964]|2020-05-06|2020-05-06T24:00:00Z|120019|         3240|9bb52e41a6d7dce6b...|      114077|                149813|               101002|                2804|           8760|         21217|2020-05-06T24:00:00Z| 6292703|          246566|                   746|                 7781|   5104|     0| 2803590|           39024|     null|    88|    0|        22864569|                  449812|
|    206|      106|   Portugal|    Roma|[41.9028, 12.4964]|2020-05-07|2020-05-06T24:00:00Z|132021|         3564|9bb52e41a6d7dce6b...|      125485|                164794|               111102|                3084|           9636|         23338|2020-05-06T24:00:00Z| 6921973|          271222|                   820|                 8559|   5614|     0| 3083949|           42927|     null|    96|    0|        25151026|                  494793|
|    206|      106|   Portugal|    Roma|[41.9028, 12.4964]|2020-05-08|2020-05-06T24:00:00Z|144023|         3888|9bb52e41a6d7dce6b...|      136893|                179775|               121202|                3365|          10512|         25460|2020-05-06T24:00:00Z| 7551243|          295879|                   895|                 9337|   6124|     0| 3364308|           46829|     null|   105|    0|        27437483|                  539774|
|    206|      106|   Portugal|    Roma|[41.9028, 12.4964]|2020-05-09|2020-05-06T24:00:00Z|156025|         4212|9bb52e41a6d7dce6b...|      148301|                194757|               131303|                3645|          11388|         27582|2020-05-06T24:00:00Z| 8180513|          320536|                   969|                10115|   6635|     0| 3644667|           50732|     null|   114|    0|        29723940|                  584755|
|    206|      106|   Portugal|    Roma|[41.9028, 12.4964]|2020-05-10|2020-05-06T24:00:00Z|168027|         4536|9bb52e41a6d7dce6b...|      159708|                209738|               141403|                3926|          12264|         29704|2020-05-06T24:00:00Z| 8809784|          345192|                  1044|                10893|   7145|     0| 3925026|           54634|     null|   123|    0|        32010397|                  629737|
|    205|      105|Reino Unido|  Berlin|   [52.52, 13.405]|2020-05-06|2020-05-06T24:00:00Z|110750|         4189|9bb52e41a6d7dce6b...|       71491|                102352|                77694|                3348|          10565|         23253|2020-05-06T24:00:00Z| 7491090|          147442|                  1196|                 8437|   4917|     0| 2030993|           31024|     null|   156|    0|        21864083|                  610444|
|    205|      105|Reino Unido|  Berlin|   [52.52, 13.405]|2020-05-07|2020-05-06T24:00:00Z|121826|         4608|9bb52e41a6d7dce6b...|       78640|                112587|                85464|                3682|          11622|         25578|2020-05-06T24:00:00Z| 8240200|          162187|                  1315|                 9281|   5409|     0| 2234092|           34126|     null|   171|    0|        24050491|                  671489|
|    205|      105|Reino Unido|  Berlin|   [52.52, 13.405]|2020-05-08|2020-05-06T24:00:00Z|132901|         5027|9bb52e41a6d7dce6b...|       85789|                122822|                93233|                4017|          12678|         27904|2020-05-06T24:00:00Z| 8989309|          176931|                  1435|                10125|   5900|     0| 2437191|           37229|     null|   187|    0|        26236899|                  732533|
|    205|      105|Reino Unido|  Berlin|   [52.52, 13.405]|2020-05-09|2020-05-06T24:00:00Z|143976|         5446|9bb52e41a6d7dce6b...|       92938|                133057|               101003|                4352|          13735|         30229|2020-05-06T24:00:00Z| 9738418|          191675|                  1555|                10968|   6392|     0| 2640291|           40331|     null|   202|    0|        28423308|                  793578|
|    205|      105|Reino Unido|  Berlin|   [52.52, 13.405]|2020-05-10|2020-05-06T24:00:00Z|155051|         5865|9bb52e41a6d7dce6b...|      100087|                143293|               108772|                4687|          14791|         32554|2020-05-06T24:00:00Z|10487527|          206419|                  1674|                11812|   6884|     0| 2843390|           43434|     null|   218|    0|        30609716|                  854622|
|    201|      101|     España|  Madrid|[40.4168, -3.7038]|2020-05-06|2020-05-06T24:00:00Z|169657|         4196|9bb52e41a6d7dce6b...|      121876|                 99405|               108218|                2654|          10382|         21655|2020-05-06T24:00:00Z| 7236734|          193190|                   893|                 9084|   6466|     0| 1693595|           39767|     null|    75|    0|        14432031|                  495973|
|    201|      101|     España|  Madrid|[40.4168, -3.7038]|2020-05-07|2020-05-06T24:00:00Z|186623|         4615|9bb52e41a6d7dce6b...|      134064|                109345|               119040|                2919|          11421|         23820|2020-05-06T24:00:00Z| 7960408|          212509|                   982|                 9992|   7113|     0| 1862954|           43744|     null|    83|    0|        15875235|                  545571|
|    201|      101|     España|  Madrid|[40.4168, -3.7038]|2020-05-08|2020-05-06T24:00:00Z|203589|         5035|9bb52e41a6d7dce6b...|      146252|                119286|               129862|                3185|          12459|         25986|2020-05-06T24:00:00Z| 8684081|          231828|                  1072|                10901|   7759|     0| 2032314|           47721|     null|    91|    0|        17318438|                  595168|
|    201|      101|     España|  Madrid|[40.4168, -3.7038]|2020-05-09|2020-05-06T24:00:00Z|220554|         5455|9bb52e41a6d7dce6b...|      158439|                129227|               140683|                3450|          13497|         28151|2020-05-06T24:00:00Z| 9407755|          251148|                  1161|                11809|   8406|     0| 2201673|           51697|     null|    98|    0|        18761641|                  644766|
|    201|      101|     España|  Madrid|[40.4168, -3.7038]|2020-05-10|2020-05-06T24:00:00Z|237520|         5874|9bb52e41a6d7dce6b...|      170627|                139167|               151505|                3716|          14535|         30317|2020-05-06T24:00:00Z|10131428|          270467|                  1250|                12718|   9053|     0| 2371033|           55674|     null|   106|    0|        20204844|                  694363|
|    203|      103|   Alemania|Valencia|[39.4699, -0.3763]|2020-05-06|2020-05-06T24:00:00Z|165354|         2685|9bb52e41a6d7dce6b...|      105287|                125616|               108865|                2680|           6929|         17213|2020-05-06T24:00:00Z| 5467735|          239585|                  1189|                12321|   6581|     0| 2670387|           35822|     null|   108|    0|        23528433|                  573393|
|    203|      103|   Alemania|Valencia|[39.4699, -0.3763]|2020-05-07|2020-05-06T24:00:00Z|181890|         2954|9bb52e41a6d7dce6b...|      115815|                138177|               119752|                2948|           7622|         18934|2020-05-06T24:00:00Z| 6014509|          263543|                  1308|                13553|   7239|     0| 2937426|           39404|     null|   119|    0|        25881276|                  630733|
|    203|      103|   Alemania|Valencia|[39.4699, -0.3763]|2020-05-08|2020-05-06T24:00:00Z|198425|         3223|9bb52e41a6d7dce6b...|      126344|                150739|               130638|                3216|           8315|         20655|2020-05-06T24:00:00Z| 6561283|          287502|                  1427|                14785|   7897|     0| 3204464|           42986|     null|   130|    0|        28234120|                  688072|
|    203|      103|   Alemania|Valencia|[39.4699, -0.3763]|2020-05-09|2020-05-06T24:00:00Z|214961|         3491|9bb52e41a6d7dce6b...|      136873|                163301|               141525|                3484|           9008|         22377|2020-05-06T24:00:00Z| 7108056|          311460|                  1546|                16017|   8555|     0| 3471503|           46568|     null|   141|    0|        30586963|                  745411|
|    203|      103|   Alemania|Valencia|[39.4699, -0.3763]|2020-05-10|2020-05-06T24:00:00Z|231496|         3760|9bb52e41a6d7dce6b...|      147402|                175862|               152412|                3752|           9701|         24098|2020-05-06T24:00:00Z| 7654830|          335419|                  1665|                17250|   9214|     0| 3738542|           50150|     null|   151|    0|        32939806|                  802751|
+-------+---------+-----------+--------+------------------+----------+--------------------+------+-------------+--------------------+------------+----------------------+---------------------+--------------------+---------------+--------------+--------------------+--------+----------------+----------------------+---------------------+-------+------+--------+----------------+---------+------+-----+----------------+------------------------+
only showing top 20 rows

In [ ]:
tabla_final_panda = tabla_final.toPandas()

In [ ]:
tabla_final_panda.to_parquet("datos_generados/tabla_datos_mult.parquet")

In [ ]:
spark.stop()